<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.httpvolley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.PdfActivity"></activity>
        <activity android:name=".Activitys.NotasActivity" />
        <activity android:name=".Activitys.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.httpvolley.fileprovide"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />

        </provider>


        <activity android:name=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.GetVolleyComments"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.GetRetrofitUser"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.GetRetrofitdog"
            android:parentActivityName=".Activitys.GetRetrofitdog" />
        <activity
            android:name=".Activitys.UserActivity"
            android:parentActivityName=".Activitys.MainActivity" />
    </application>

</manifest>